/* General Reset and Base Styles */
html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Universal selector for margin, padding, and box-sizing */
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
  /* List Styles */
  ul,
  li {
    list-style: none;
  }
  li{
    display: inline;
  }
  
  /* Anchor Tag Styles (remove default styles) */
  a {
    all: unset;
  }
  
  /* Horizontal Rule Styles */
  hr {
    color: grey;
  }
  
  /* Text Styles */
  .bold-text {
    font-weight: 600;
  }
  
  .grey-text {
    color: grey;
  }
  
  /* Button Styles */
  .blue.button,
  .transparent.button {
    padding: 10px 15px;
    display: inline-block;
  }
  
  .blue.button {
    background-color: #0061fe;
    color: white;
  }
  
  /* Section Styles */
  .section {
    margin-bottom: 150px;
  }
  
  .long-text {
    line-height: 1.5rem;
    font-size: 1rem;
    display: inline-block;
  }
  
  /* Title Styles */
  .big-title {
    font-size: 6rem;
  }
  
  .medium-title {
    font-size: 3rem;
    font-weight: 600;
  }
  
  .small-title {
    font-size: 1.5rem;
    font-weight: 600;
  }
  
  /* Containers */
  .large-container {
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .small-container {
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
  }
  
  /* Header Styles */
  .header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: white;
    height: auto;
    min-height: 75px;
    padding: 0 25px;
    position: sticky;
    top: 0;
    z-index: 999;
  }
  .header-left ul,
  .header-right ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
  .header-left ul{
    display: flex;
    justify-content: flex-start;
  }
  .header-right ul{
    display: flex;
    justify-content: flex-end;
  }
  .header-left  *,
  .header-right  * {
    padding: 0 20px;
  }
  
  .header-right {
    display: flex;
    margin-left: auto;
  }
  .header-left{
    display: flex;
  }
  .header-buttons {
    display: inline-block;
  }
  
  .header-right li, 
  .header-left li {
    display: inline-block;
    line-height: 75px;
  }
  
  .header-buttons > .blue {
    display: inline;
    background-color: #0061fe;
    color: white;
    padding: 10px 15px;
  }
  
  .header-buttons > .transparent {
    display: inline;
    padding: 10px 15px;
  }
  
  /* Hover Effects for Header Links */
  .header-right li:hover,
  .header-left li:hover {
    border-bottom: 2px solid black;
  }
  
  /* Jumbo Section */
  .jumbo {
    background-color: #b4d0e6;
    margin-bottom: 200px;
  }
  
  .jumbo-content {
    display: flex;
    margin-top: 50px;
  }
  
  .jumbo-small-section {
    width: 40%;
  }
  
  .jumbo-small-section > * {
    margin: 10px 0;
  }
  
  .jumbo-actions > * {
    margin: 30px 0;
  }
  
  .go-down {
    font-size: 4rem;
  }
  
  .jumbo-large-section {
    width: 60%;
    position: relative;
  }
  
  .jumbo-img {
    width: 100%;
    position: absolute;
  }
  
  /* Section-One Specific Styles */
  .section-one > * {
    margin-top: 30px;
  }
  
  /* Radio Button Styles */
  .radio {
    height: 1rem;
    width: 1rem;
    display: inline-block;
    border-radius: 50%;
  }
  
  .checked {
    border: 4px solid #0061fe;
  }
  
  .unchecked {
    border: 2px solid grey;
  }
  
  .radio-text {
    display: inline-block;
    margin-right: 15px;
  }
  
  /* Payment Options */
  .payment-options {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 40px 0;
  }
  
  /* Plan Cards */
  .plan-cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .plan-card {
    width: 30%;
    border: 1px solid grey;
  }
  
  .plan-card-type {
    border-bottom: 1px solid grey;
    text-align: center;
    padding: 20px 0;
  }
  
  .plan-card-content > * {
    padding: 30px 20px;
  }
  
  .plan-card-name  * {
    margin: 10px 0;
  }
  
  .list-item {
    position: relative;
    margin: 10px 0;
  }
  
  .list-item > .long-text {
    padding-left: 1.2rem;
  }
  
  .list-item > i {
    position: absolute;
    top: 3px;
  }
  
  .plan-card-info {
    padding-top: 0;
  }
  
  /* Miscellaneous Styles */
  u {
    color: blue;
  }
  
  .buy-now {
    margin-top: 20px;
  }
  
  .card-divider {
    color: grey;
    width: 20%;
    margin: 30px 10%;
    padding: 0;
  }
  
  .check {
    color: #0061fe;
    display: inline-block;
  }
  
  /* Large Plan Card */
  .large-plan-card {
    width: 100%;
    margin-top: 50px;
    border: 1px solid grey;
  }
  
  .large-plan-card-content {
    display: flex;
    padding: 30px 20px;
  }
  
  .large-plan-card-name {
    width: 70%;
  }
  
  .large-plan-card-name  * {
    margin: 10px 0;
  }
  
  .large-plan-card-buy {
    width: 30%;
    height: 40px;
  }
  
  /* Partner Section */
  .section.two {
    display: flex;
  }
  
  .large-partner {
    width: 60%;
  }
  
  .partner {
    width: 100%;
  }
  
  .small-partner {
    width: 40%;
    padding: 50px 30px;
  }
  
  .find-partner {
    padding: 10px 15px;
    display: inline-block;
    border: 1px solid grey;
    margin-top: 30px;
  }
  
  .small-partner > .long-text {
    margin-top: 30px;
  }
  
  /* Feature Cards */
  .feature-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .feature-card {
    width: 30%;
    margin-top: 50px;
  }
  
  .feature-img {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .feature-card > .long-text {
    margin-top: 30px;
  }
  
  /* Footer Styles */
  .more {
    display: inline-block;
    margin: 100px 0;
  }
  
  .footer {
    margin-top: 50px;
    color: white;
    background-color: black;
    font-size: 0.75rem;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
  }
  
  .footer-section {
    width: 20%;
  }
  
  .footer-section li {
    margin: 15px 0;
  }
  .footer-section li{
    display: block;
  }
  .footer-divider {
    color: white;
    width: 10%;
  }
  
  /* Large Footer Container */
  .large-footer-container {
    width: 70%;
    margin: 0 auto;
  }
  
  /* Language Selector */
  .language {
    padding: 50px 0;
  }
  
  .language > * {
    margin: 0 5px;
  }
  
  /* Company Section Style*/
  .company-section-container{
    display: flex;
    flex-wrap: wrap;
  }

  .company-container{
    width: 33.3333%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }

  .company{
    width: 50%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }

  .company > img {
    width: 100%;
    object-fit: contain;
  }

  .main-company{
    padding: 30px 20px;
    background-color: #f5f5f5;
    height: 100%;
  }
  .main-company > img{
    width: 70%;
  }

  .main-company > hr{
    width: 20%;
  }
  /* Colors */
  .main-company > * {
    margin: 20px 0;
  }
  .dark-red{
    background-color: #61082b;
  }
  .light-green{
    background-color: #a2d39b;
    border: 15px solid #d1e9cd;
  }
  .sky-blue{
    background-color: #0093ce;
  }
  .orange{
    background-color: #ff1c1c;
  }
  .red{
    background-color: #d5001f;
  }
  .deep-blue{
    background-color: #0d2481;
  }
  .light-blue{
    background-color: #b4d0e7;
  }
  .yellow{
    background-color: #ffd830;
  }
  .faq{
    margin-bottom: 100px;
  }
  .question{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .question > .long-text{
    margin: 15px 0;
  }
  .faq > .medium-title {
    margin-bottom: 40px;
  }
