html {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.blue-button{
    background-color: #0061fe;
    padding: 10px 15px;
    color: white;
    display: inline-block;
}

.large-container{
    width: 70%;
    margin: 0 auto;
    padding-top: 100px;
}
hr{
    color: grey;
    margin-top: 200px;
}

.small-container{
    width: 60%;
    margin: 0 auto;
    margin-top: 100px;
    height: 200px;
    margin-top: 50px;
}
.long-text{
    line-height: 1.5rem;
}
.header{
    height: 75px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 999;
    padding: 25px;
    align-items: center;
    background-color: white;
}
.header-left{
    justify-self: left;
    width: 50%;
}
.header-right{
    justify-self: right;
    width: 50%;
    text-align: right;
}
.header a, .logo{
    margin: 0px 15px;
}

.jumbo-container{
    background-color: #b4d0e6;
    padding: 30px 0;
}
.big-title{
    font-size: 6rem;
}
.medium-title{
    font-size: 3rem;
    font-weight: 600;
}
.jumbo{
    display: flex;
    margin-top: 30px;
    position: relative;
}
.jumbo-small{
    width: 30%;
}
.jumbo-large{
    width: 70%;
}
.jumbo-small a{
    display: inline-block;
    margin: 10px 0;
}
.arrow-down{
    font-size: 5rem;
    position: relative;
    bottom: -30px;
}
.jumbo-buttons{
    margin: 15px 0;
}
.jumbo-large > img{
    position: absolute;
    width:70%;
}
.radio-buttons{
    margin: 30px 0;
    height: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.radio{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}
.checked{
    border: 4px solid #0061fe;
}
.unchecked{
    border: 2px solid grey;
}
.radio-text{
    margin-right: 30px;
}
.pricing-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.plan-card{
    width: 30%;
    min-height: 600px;
    border: 1px solid grey;
    
}
.large-plan-card{
    width: 100%;
    min-height: 600px;
    margin-top: 50px;
    border: 1px solid grey;
}
.plan-target > *{
    display: inline-block;
}
.plan-target{
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid grey;
}